* {
  box-sizing: border-box;
  font-size: 22px;
  font-family: sans-serif;
}

button {
  border: none;
  background-color: olivedrab;
  padding: 0.35rem 0.75rem;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 40%;
  height: 30%;
  background-color: white;
}

.weekly-planner {
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.container {
  width: 90%;
  height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planner-title {
  text-align: center;
  margin: 2rem auto;
}
