* {
  box-sizing: border-box;
  font-size: 22px;
}

.container {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
}

.planner-title {
  text-align: center;
  margin: 2rem auto;
}

.add-entry-button {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  /* margin: 3rem auto; */
  align-self: center;
}
